<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이 페이보릿 무비스타</title>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- style -->
    <link rel="stylesheet" href={{url_for('static', filename="css/style.css" )}}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&family=Noto+Serif+KR:wght@200&display=swap"
        rel="stylesheet">

</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container center">
                <h1 class="title">
                    My Favorit Movie Star
                </h1>
                <h2 class="subtitle">
                    순위를 매겨봅시다
                </h2>
            </div>
        </div>
    </section>
    <div class="star-list" id="star-box">
    </div>

    <script src="{{url_for('static', filename='js/like.js')}}"></script>
</body>

</html>